<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.imilipocket">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImiliPocket"
        tools:targetApi="31">

        <!-- Launch Screen (Onboarding One) -->
        <activity
            android:name=".ui.onboarding.OnboardingOneActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Onboarding Screens -->
        <activity
            android:name=".ui.onboarding.OnboardingTwoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnboardingThreeActivity"
            android:exported="false" />

        <!-- Get Started Screen -->
        <activity
            android:name=".ui.GetStartedActivity"
            android:exported="false" />

        <!-- Auth Screens -->
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignInActivity"
            android:exported="false" />

        <!-- Main App Screens -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddTransactionActivity"
            android:exported="false" />

    </application>

</manifest>
